#pointer-1 {
  animation: hand 1s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

svg {
  z-index: 2;
}

@keyframes hand {
  0% {
    transform: translateY(-5%);
    opacity: 1;
  }
  50% {
    transform: translateY(5%);
    opacity: 1;
  }
  100% {
    transform: translateY(-5%);
    opacity: 1;
  }
}
@media only screen and (max-width: 1920px) {
  svg {
    position: absolute;
    width: 120px;
    top: 55%;
    right: 44%;
    display: none;
  }
}

@media only screen and (max-width: 1440px) {
  svg {
    position: absolute;
    width: 120px;
    top: 55%;
    right: 44%;
    display: block;
  }
}

@media only screen and (max-width: 1080px) {
  svg {
    position: absolute;
    width: 90px;
    right: 44%;
    margin-top: -95px;
  }
}
@media only screen and (max-width: 750px) {
  svg {
    position: absolute;
    width: 95px;
    right: 42%;
  }
}
@media only screen and (max-width: 720px) {
  svg {
    position: absolute;
    width: 60px;
    right: 42%;
  }
}
@media only screen and (max-width: 411px) {
  svg {
    position: absolute;
    width: 51px;
    right: 42%;
    margin-top: -115px;
  }
}
@media only screen and (max-width: 375px) {
  svg {
    position: absolute;
    width: 38px;
    right: 43%;
    margin-top: -175px;
  }
}
