<nav class="navbar" [ngClass]="theme">
  <ul class="navbar-nav">
    <li class="logo">
      <a href="#" class="nav-link">
        <span class="link-text logo-text title">Juntos</span>
        <mat-icon>swap_horizontal_circle</mat-icon>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link">
        <mat-icon>feedback</mat-icon>
        <span class="link-text">Nosotros</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link">
        <mat-icon>highlight</mat-icon>
        <span class="link-text">Servicios</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link">
        <mat-icon>add_location</mat-icon>
        <span class="link-text">Cuídate</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link">
        <mat-icon>face_agent</mat-icon>
        <span class="link-text">Contáctanos</span>
      </a>
    </li>

    <li class="nav-item" id="themeButton">
      <a
        class="nav-link"
        (click)="changeTheme('light')"
        [ngClass]="{ 'active-light': darkActive }"
      >
        <mat-icon class="theme-icon">
          brightness_2
        </mat-icon>
        <span class="link-text">Oscuro</span>
      </a>
      <a
        class="nav-link"
        (click)="changeTheme('dark')"
        [ngClass]="{ 'active-dark': lightActive }"
      >
        <mat-icon class="theme-icon">
          brightness_5
        </mat-icon>
        <span class="link-text">Claro</span>
      </a>
    </li>
  </ul>
</nav>
