<div class="container-fluid">
  <app-balloon></app-balloon>
  <app-cone></app-cone>
  <div class="row">
    <div class="col">
      <img class="flags" src="{{ baseURL }}assets/flags.svg" alt="" />
    </div>
  </div>

  <div class="row main-message-container">
    <div class="col text-center">
      <h1 data-aos="fade-up" data-aos-duration="1000" class="title-page">
        Mi Baby Shower
      </h1>
      <h1 data-aos="fade-up" data-aos-duration="1000" class="title-page">
        Leonardo
      </h1>
      <p class="fecha" data-aos="fade-up" data-aos-duration="1000">05/12/20</p>
      <p class="hora" data-aos="fade-up" data-aos-duration="1000">7:00 PM</p>
      <div class="row">
        <div class="col">
          <div class="lugar">
            <h2 data-aos="fade-up" data-aos-duration="1000">
              Lugar: <span>Google Meet</span>
              <img
                data-aos="fade-up"
                data-aos-duration="1000"
                class="meet"
                src="{{ baseURL }}assets/meet.svg"
                alt=""
              />
            </h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <app-pointer></app-pointer>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <a
            href="https://meet.google.com/tsr-tosk-azw"
            class="btn videollamada"
            target="_blank"
          >
            <h1 class="live" data-aos="zoom-in" data-aos-duration="1000">
              <i class="icon ion-ios-videocam"></i>PRESIONA AQUÍ
            </h1>
          </a>
        </div>
      </div>

      <p class="enlace">Escoge un regalo presionando aquí</p>
      <div class="row gift-container">
        <div class="col">
          <div>
            <a
              href="https://www.noviosfalabella.com.pe/novios-pe/public/inicio.do"
              class="btn regalo"
              target="_blank"
              ><img class="gift" src="{{ baseURL }}assets/gift.svg" alt=""
            /></a>
          </div>
        </div>
      </div>
      <p class="mensaje">
        Ingresa el código 629667-11 (no olvides poner el guión) en la sección
        "Haz un Regalo"
      </p>
    </div>
  </div>
  <div class="pie"><h5>Maria Claudia y Raúl</h5></div>
</div>
