<section id="hero" class="hero">
  <img class="flags" src="{{ baseURL }}assets/flags.svg" alt="" />
  <app-balloon></app-balloon>
  <app-cone></app-cone>
  <app-pointer></app-pointer>
  <div class="container">
    <div class="main-message">
      <h1 data-aos="fade-up" data-aos-duration="1000">Mi Baby Shower</h1>
      <h3 data-aos="fade-up" data-aos-duration="1000">FECHA</h3>
      <p class="fecha" data-aos="fade-up" data-aos-duration="1000">
        05/12/20
      </p>
      <p class="hora" data-aos="fade-up" data-aos-duration="1000">
        7:00 PM
      </p>
      <div class="lugar">
        <h3 data-aos="fade-up" data-aos-duration="1000">
          LUGAR:
        </h3>
        <h2 data-aos="fade-up" data-aos-duration="1000">
          GOOGLE MEET
        </h2>
        <img
          data-aos="fade-up"
          data-aos-duration="1000"
          class="meet"
          src="{{ baseURL }}assets/meet.svg"
          alt=""
        />
      </div>

      <div class="link-video" data-aos="fade-up" data-aos-duration="1000">
        <a
          href="https://meet.google.com/tsr-tosk-azw"
          class="btn videollamada"
          target="_blank"
          ><h1 class="live">
            <i class="icon ion-ios-videocam"></i>PRESIONA AQUÍ
          </h1></a
        >
      </div>
      <p class="enlace" data-aos="fade-up" data-aos-duration="1000">
        Escoge un regalo presionando aquí
      </p>
      <div data-aos="fade-up" data-aos-duration="1000">
        <a
          href="https://www.noviosfalabella.com.pe/novios-pe/public/inicio.do"
          class="btn regalo"
          target="_blank"
          ><img class="gift" src="{{ baseURL }}assets/gift.svg" alt=""
        /></a>
      </div>
      <p class="mensaje" data-aos="fade-up" data-aos-duration="1000">
        Ingresa el código 629667-11 (no olvides poner el guión) en la sección
        "Haz un Regalo"
      </p>
    </div>
  </div>
  <!-- <app-hero1></app-hero1> -->
  <h5>Maria Claudia y Raúl</h5>
</section>
