*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 10px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background: #e5ea93 !important;
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
  overflow-x: hidden;
  font-family: "Raleway";
}

body::-webkit-scrollbar {
  width: 0.25rem;
}
:root {
  font-size: 16px;
  font-family: "Open Sans";
  --gray0: #ffffff;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  --gray7: #000000;
  --orange0: #ffd3b6;
  --orange1: #f79071;
  --orange2: #ff926b;
  --orange3: #ff725e;
  --orange4: #ff6464;
  --orange5: #db3056;
  --orange6: #851d41;
  --purple0: #20135c;
  --purple1: #392775;
  --purple2: #60449b;
  --purple3: #8661c1;
  --purple4: #aa8ad4;
  --purple5: #cfb4e6;
  --purple6: #f3ddf9;
  --green0: #16817a;
  --green1: #024249;
  --rgb0: 69, 78, 86;
  --rgb1: 108, 121, 131;
  --rgb-purple0: 102, 73, 184;
  --rbg-purple1: 175, 139, 175;
  --rbg-orange0: 238, 108, 77;
  --rbg-orange1: 255, 100, 100;
  --blue: #0779e4;
  --blue1: #aeefec;
  --yellow: #f3c623;
  --smoke: #ebe6e6;
  --banner-dark: 108, 121, 131;
  --banner-light: 219, 225, 232;
  --transition-speed: 600ms;
  --transition-speed-2: 100ms;
}
a {
  text-decoration: none;
}

p {
  font-size: 1rem;
}
section {
  padding: 5rem 0;
  height: 100vh;
}
.flags {
  position: absolute;
  top: 6px;
  left: 9px;
  width: 100%;
}

.main-message-container {
  padding-top: 48px;
}

.title-page {
  font-family: "Parisienne", cursive;
  text-transform: capitalize;
  font-size: 4rem;
  margin: 0.5rem 0;
}

.container-fluid {
  position: relative;
  background: url(./assets/wave-2.svg);
  color: var(--gray5);
  text-align: justify;
  overflow: hidden;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding-bottom: calc(60% * 5 / 2);
  transition: var(--transition-speed);
  transition: background 650ms ease-in-out;
}

.gift-container {
  margin-top: 20px;
}

.gift-container img {
  margin-top: 50px;
  width: 200px;
}
.pie {
  display: flex;
  justify-content: flex-end;
}
h5 {
  font-family: "Parisienne", cursive;
  text-transform: capitalize;
  font-size: 30px !important;
}

.meet {
  width: 28px;
}

.fecha {
  font-size: 50px !important;
  border-radius: 10px;
  font-weight: bold;
}
.hora {
  font-size: 50px !important;
  border-radius: 10px;
  font-weight: bold;
}
.lugar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.lugar span {
  font-weight: bold;
  margin-right: 10px;
}

.live {
  font-size: 25px;
  margin-top: 0px;
  color: white;
  background: #e7305b;
  padding: 15px;
  letter-spacing: 3px;
  border-radius: 5px;
}

/* Media Querys */
@media only screen and (min-width: 1081px) {
}

@media only screen and (max-width: 1080px) {
}
@media only screen and (max-width: 750px) {
}
@media only screen and (max-width: 720px) {
  .main-message-container {
    padding-top: 75px;
  }
  .title-page {
    font-size: 50px !important;
  }
}
@media only screen and (max-width: 411px) {
  .main-message-container {
    padding-top: 58px;
  }
  .gift-container img {
    margin-top: 15px;
    width: 150px;
  }
  .title-page {
    font-size: 50px !important;
  }
}
@media only screen and (max-width: 375px) {
  .main-message-container {
    padding-top: 58px;
  }
  .title-page {
    font-size: 36px !important;
  }

  .fecha {
    font-size: 40px !important;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    margin-top: -15px;
  }
  .hora {
    font-size: 40px !important;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    margin-top: -42px;
  }
  .lugar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -12px;
  }

  .live {
    font-size: 25px;
    margin-top: -10px;
    color: white;
    background: #e7305b;
    padding: 5px;
    letter-spacing: 3px;
  }

  .live i {
    margin-right: 10px;
  }

  .enlace {
    margin-top: -12px;
  }

  .lugar span {
    font-weight: bold;
    margin-right: 10px;
  }

  .gift-container img {
    margin-top: 10px;
    width: 185px;
  }

  h5 {
    font-size: 25px !important;
  }
}
