body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-body);
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
  background-image: var(--bg-patron);
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--gray5);
}

body::-webkit-scrollbar-thumb {
  background: var(--purple0);
}
:root {
  font-size: 16px;
  font-family: "Open Sans";
  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  --gray7: #000000;
  --orange0: #ffd3b6;
  --orange1: #f79071;
  --orange2: #fa744f;
  --orange3: #ee6c4d;
  --orange4: #ff6464;
  --orange5: #db3056;
  --orange6: #851d41;
  --green0: #16817a;
  --green1: #024249;
  --blue: #0779e4;
  --purple0: #6649b8;
  --purple1: #af8baf;
  --yellow: #f3c623;
  --smoke: #ebe6e6;
  --transition-speed: 600ms;
  --transition-speed-2: 100ms;
}
.dark {
  --text-primary: var(--gray2);
  --text-secondary: var(--gray1);
  --bg-primary: var(--gray5);
  --bg-secondary: var(--gray6);
  --bg-hover: var(--purple1);
  --bg-body: var(--gray3);
  --bg-icon: var(--purple0);
  --bg-nav: var(--gray5);
  --bg-patron: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%236649b8' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  transition: var(--transition-speed);
}

.light {
  --text-primary: var(--gray5);
  --text-secondary: var(--gray6);
  --bg-primary: var(--gray1);
  --bg-secondary: var(--gray2);
  --bg-hover: var(--orange0);
  --bg-body: var(--gray1);
  --bg-icon: var(--orange3);
  --bg-nav: var(--smoke);
  --bg-patron: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23f79071' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  transition: var(--transition-speed);
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  position: fixed;
  background-color: var(--bg-nav);
  transition: width 600ms ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed-2);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-hover);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}
.title {
  margin-left: 2.5rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}
.nav-link mat-icon {
  width: 24px;
  height: 24px;
  margin: 0 1.5rem 0 25px;
  transition: var(--transition-speed);
}

.nav-link:hover mat-icon {
  color: var(--bg-icon);
  transition: var(--transition-speed);
}
.nav-link:hover .sun {
  color: var(--yellow);
  transform: rotate(-90deg);
  transition: var(--transition-speed);
}
.nav-link:hover .moon {
  color: var(--blue);
  transform: rotateY(-180deg);
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo mat-icon {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo mat-icon {
  transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo mat-icon {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }
}

#themeButton {
  cursor: pointer;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}
